<!DOCTYPE html>
<html data-ng-app="GeorgesListApp">
  <head>
    <meta charset="utf-8">
    <title>The George List</title>
    <link rel="stylesheet/less" type="text/css" href="css/main.less" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/less.min.js" type="text/javascript"></script>
    <script src="js/app.js"></script>


  </head>
  <body data-ng-controller="TheListController as theListController">
    <main id="main-container">
      <header>
        <h1><span style='font-weight: bold;'>the george list:</span> who's playing in nyc</h1>
        <h2 ng-if="error">{{error}}</h2>
        <nav ng-if="!error">
          <ul id="navigation-links">
            <!-- TODO put this in the controller -->
            <li data-ng-click="theListController.showEverything()">everything</li>
            <li data-ng-click="theListController.showToday()">today</li>
            <li data-ng-click="theListController.showNext()">next</li>
            <li data-ng-click="theListController.showWeekend()">the weekend</li>
          </ul>
        </nav>
      </header>

      <ul id="list-of-venues">
        <li class="venue"
            data-ng-repeat="venueName in venueNames">
          <div class="venue-event-list">
            <h2>{{venueName}}</h2>

            <ul class="venue-events" data-ng-init=>
              <li class="event" data-ng-repeat="event in theListController.getEventsToShow(venueName)">
                <h3 class="date" title={{event.date}}>{{event.date | date : "EEE, MMM d"}}</h3>
                <h4 class="time" title={{event.date}}>{{event.date | date : "h:mm a"}}</h4>
                <ul class="event-artists">
                  <li class="artist" data-ng-repeat="artist in event.artists">{{artist}}</li>
                </ul>
              </li>
              <li class="event nothing-happening"
                  data-ng-if="theListController.getEventsToShow(venueName).length == 0">
                nothing going on
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </main>
  </body>
</html>
